env: dev                              # Affects log level and a few other things

mail:
  domain: mailwhale.dev                                   # Your server's domain name
  system_sender: MailWhale System <system@mailwhale.dev>  # Address which to send user verifications, etc. from

web:
  public_url: 'http://localhost:3000' # Publicly available URL of your instance, required for callback links via e-mail
  listen_v4: '127.0.0.1:3000'         # Where to make the http server listen
  cors_origins:
    - 'http://localhost:5000'

smtp:
  host: 'localhost'
  port: 465
  username: 'you@example.org'
  password: 'your secret password'
  tls: true                           # Whether to connect via SSL/TLS (set 'false' for STARTTLS)
  skip_verify_tls: false              # Whether to trust self-signed certificates

store:
  path: 'data.json.db'

security:
  pepper: 'sshhh'                     # Change this!
  allow_signup: true
  verify_users: true                  # Whether to send verification mail when registering a new user
  verify_senders: true                # Whether to send verification mail when adding new sender addresses